.modal {
  position: fixed;
  z-index: 100000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5f5f5fe5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  width: 90%;
  padding: 32px;
  background-color: white;
  background-repeat: repeat;
  background-size: contain;
  position: relative;
  border-radius: 4px;
  min-height: 150px;
}

.content {
  overflow: auto;
  max-height: 70vh;
  overflow: auto;
}

.close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 0;
  transform: translate(0%, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--main-color);
}

.close img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 767px) {
  .announcement {
    padding: 8px;
  }
  .modalContent td,
  .modalContent th {
    font-size: 12px;
    width: 20%;
  }
  .modalContent tr {
    margin: 4px 0;
    padding: 0;
  }
  .modalContent td,
  .modalContent th {
    padding: 4px;
    font-size: 11px;
  }
  .modalContent td:first-child,
  .modalContent th:first-child {
    max-width: 10%;
  }
  .modalContent tr td:last-child,
  .modalContent tr th:last-child {
    width: auto;
  }
}
