.galleryWrapper {
  position: relative;
  width: 100%;
  padding-top: 30px;
}
.galleryWrapper h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 0;
  font-size: 48px;
}
.gallery {
  display: flex;
  display: grid;
  grid-template-columns: 2fr 1.3fr 2fr;
  grid-gap: 10px;
}
.gallery > div {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: center;
}
.gallery > div > img {
  width: 100%;
}
.gallery > div > img:nth-child(2) {
  margin-top: 10px;
}
.gallery::after {
  content: '';
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  transform: translate(0, 30px);
}

@media (max-width: 990px) {
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery > div {
    width: 90%;
    margin: 0 auto;
  }
  .galleryWrapper h2 {
    font-size: 30px;
  }
}
