.stepsWrapper {
  margin-top: 258px;
  margin-bottom: 188px;
}
.stepsWrapper h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 64px;
}
.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.steps li {
  position: relative;
}

.steps li .circle {
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(180deg, #f2f2f2 0.01%, #ffffff 99.99%),
    linear-gradient(180deg, #ffffff 0%, #f2f2f2 100.01%);
  box-shadow: 4px 3px 6px 0px #5d5d5d42;
  outline: 1px solid var(--main-color);
  outline-offset: 10px;
  transition: 0.2s;
}
.steps li .circle img {
  display: block;
}
.steps li .circle > img:last-child {
  display: none;
}
.steps li .circle:hover {
  background: linear-gradient(180deg, #f16703 0.01%, var(--main-color) 99.99%);
}
.steps li .circle:hover img:first-child {
  display: none;
}
.steps li .circle:hover img:last-child {
  display: block;
}

.steps li span {
  color: #777777;
  font-size: 20px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, 100%);
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

.leftArrowImage {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.bottomArrowImage {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 80px);
  display: none;
}

@media (max-width: 990px) {
  .stepsWrapper {
    margin-top: 150px;
  }
  .steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 160px;
  }
  .leftArrowImage {
    display: none;
  }
  .bottomArrowImage {
    display: block;
  }
}
@media (max-width: 575px) {
  .stepsWrapper {
    margin-top: 250px;
  }
}
