.footer {
  width: 100%;
  background-color: white;
  box-shadow: 0px -7px 28.9px 0px #6362623b;
}
.footerTop {
  padding: 60px 0;
}
.footerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom: 1px solid #717171a1;
  position: relative;
}
.footerTitle h2 {
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 100px;
  background-color: white;
  transform: translate(0, 40%);
  font-size: 30px;
  padding: 0 20px;
}
.footerTitle img {
  margin-bottom: 20px;
  width: 120px;
  display: block;
}
.footerBottom {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 14px;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 60px;
}
.footerLinks > div > h3 {
  font-size: 16px;
}
.footerLinks > div > ul > li {
  font-size: 14px;
  margin-top: 8px;
}
.footerLinks > div > ul > li > a {
  color: #4f4f4f;
}
@media (max-width: 1140px) {
  .footerLinks {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .footerLinks {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
