.galleryWrapper {
  width: 100%;
  position: relative;
  gap: 43px;

  display: flex;
}

.galleryWrapper ul {
  width: 257px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
}
.galleryWrapper ul li {
  position: relative;
  width: 201px;
  cursor: pointer;
}

.galleryWrapper ul li::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2e2e2e61;
}
.galleryWrapper ul li img {
  width: 100%;
  display: block;
}
.galleryWrapper ul li.active {
  width: 100%;
}
.galleryWrapper ul li.active::after {
  display: none;
}
.mainImage {
  width: 100%;
  position: relative;
}
.mainImageInner {
  position: relative;
  width: 100%;
}
.mainImageInner::after {
  content: '';
  width: 100%;
  height: 357px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    173.06deg,
    rgba(34, 34, 34, 0) 5.83%,
    #282828 95.04%
  );
}
.mainImage img.main {
  width: 100%;
  display: block;
}

.mainImage img.preview {
  position: absolute;
  cursor: pointer;
  right: 59px;
  bottom: 40px;
  z-index: 10;
  cursor: pointer;
}

// modal
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(95, 95, 95, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalInner {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal .modalImage {
  width: 100%;
  display: block;
}

.closeModal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .galleryWrapper {
    flex-wrap: wrap;
  }
  .galleryWrapper ul {
    order: 1;
    width: 100%;
    flex-direction: row;
  }
  .galleryWrapper ul li {
    width: unset;
    flex: 1;
  }
  .galleryWrapper ul li.active {
    width: unset;
  }
  .mainImageInner::after {
    content: '';

    height: 100%;
  }
}
