.mainWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  align-items: flex-start;
  h1 {
    align-self: center;
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 64px;
    margin-top: 72px;
  }
  .wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 2%;
    flex-direction: column;
  }
}
.searchBox {
  width: 100%;
  max-width: 806px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 48px;
}
.searchBox img {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
}
.searchBox input {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 0 32px;
  border: 1px solid var(--main-color);
  background-color: white;
  color: var(--secondary-color);
}

.filters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}
.filters [class$='control'] {
  height: 50px;
}

@media (max-width: 990px) {
  .mainWrapper h1 {
    margin-top: 32px;
    font-size: 24px;
  }
  .filters {
    grid-template-columns: repeat(1, 1fr);
  }
}
